.follow-btn {
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    box-shadow: 0 0 0.1rem 0.2rem hsla(260, 11%, 85%, 1);
    border: none
}

.follow-btn:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: white
}

.userlist {

    /* border: 1px solid; */
    display: flex;
    gap: 0.5rem;
    box-shadow: 0 0 0.5rem 0.2rem hsla(260, 11%, 85%, 1);
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 1;
    background-color: white;
}

.userlist:hover {
    cursor: pointer;
    background-color: inherit;

}

.user-detail {
    flex-grow: 1;
}