.follow-btn {
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    /* border: 3px solid var(--clr-secondary-hover); */
    border: none;
    font-weight: 600;
}

.follow-btn:hover {
    cursor: pointer;

    box-shadow: 0 0 0.1rem 0.2rem hsla(260, 11%, 85%, 1);
}

.userlist {
    display: flex;
    gap: 0.5rem;
    box-shadow: 0 0 0.5rem 0.2rem hsla(260, 11%, 85%, 1);
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 1;
    background-color: white;
}

.userlist:hover {
    cursor: pointer;
    background-color: var(--clr-secondary-hover);

}

.user-detail {
    flex-grow: 1;
}