.search-main {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    position: relative;
}

.search-input {
    display: flex;
    border: 1px solid grey;
    width: 100%;
    border-radius: 0.3rem;
}

.search-input:focus {
    border: 2px solid black;
}

.search-input input {
    padding: 0rem 0.5rem;
    border: 0;
    font-size: 1rem;
    border-radius: 0.3rem;
    flex-grow: 1;

}

input:focus {
    outline: none;
}

.search-icon {
    background-color: white;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    border-radius: 0.3rem;

}


.dataResults {
    background-color: white;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
}

.dataResults::-webkit-scrollbar {
    display: none
}

.dataResults .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}


a {
    text-decoration: none;
}

#clearBtn {
    cursor: pointer;
}

.nav-profile:hover {
    background-color: var(--clr-secondary-hover);
}

@media (max-width:450px) {
    /* .search-main {
        display: none;
    } */
}