.signup-main {
    /* border:1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.signup-container {
    display: flex;
    width: 80%;
    justify-content: space-around;
    gap: 4rem;

}

.signup-img {
    display: grid;
    place-items: center;
    width: 50%;
}

.signup-img img {
    width: 100%
}

.signup-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
    padding: 2rem 0rem;
    box-shadow: 0 0 0.5rem 0.2rem hsla(260, 11%, 85%, 1);
    ;
}

.signup-input {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    margin-top: 1rem;

}

.signup-input input {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem 0rem;
}

.pass-label {
    position: relative;
    display: flex;
    flex-direction: column;
}

.signup-icon {
    margin-left: auto;
    position: relative;
    top: -2.5rem;
    cursor: pointer;
}

.signup-btn {
    font-size: 1.2rem;
    padding: 0.5rem 0rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.3rem;
}

.signup-btn:hover {
    cursor: pointer;
}