@import url('https://fonts.googleapis.com/css2?family=Combo&family=Courgette&family=Megrim&family=Montserrat+Alternates&family=Nunito+Sans:wght@500;700&family=Open+Sans:wght@400;700&family=Pacifico&family=Poor+Story&family=Prompt:ital,wght@0,400;1,300&family=Rampart+One&family=Roboto:ital,wght@0,400;0,900;1,400&family=Saira+Extra+Condensed:wght@300&family=Stick+No+Bills:wght@300;600&family=Work+Sans:wght@400;500&display=swap');


.App {
  /* text-align: center; */
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

html {
  height: 0%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* horizontal scroll */
  /* width: 98vw;  */
  width: 100%;
  height: 100%;
  /* min-width: 100vw; */
  /* min-height: 100vh; */
  /* overflow: hidden;
  overflow-y: scroll; */
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

.App {
  /* binds the landing page content and footer */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

:root {
  --clr-primary: #0066C6;
  --clr-primary-hover: #4089D4;
  --clr-primary-dark: #F65073;
  --clr-secondary-hover: #FFECF0;
  --clr-off-secondary: #FFC7D1;
}

/* utitlity classes */

.text-primary {
  color: var(--clr-primary)
}

.text-secondary-dark {
  color: var(--clr-primary-dark);
}

.btn-primary {
  background-color: var(--clr-off-secondary);
}

.btn-primary:hover {
  background-color: var(--clr-secondary)
}

.cta-btn {
  padding: 1rem;
  background-color: var(--clr-primary);
  color: white;
  font-weight: 600;
}

.cta-btn:hover {
  background-color: var(--clr-primary-hover);
  cursor: pointer;
}

/* Landing page component except footer */
.main {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  margin: 0rem 6rem;
}

.section {
  width: 100%;
  /* flex-wrap: wrap */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loader {
  position: relative;
  margin: 0 auto;
  background-color: rgba(58, 53, 53, 0.22);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedLoader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-main {
  display: block;
}



@media (max-width:450px) {

  /* .App {
    width: 100%;
  } */
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .section {
    width: 100%;
  }

  .search-main {
    display: none;
    width: 100%
  }

  .search-main-show {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
  }

  .side-search-bar {
    display: none;
  }
}